.hidden {
    display: none;
}

svg {
    margin-top: 100px;
    color: #000;
}

#graph .links {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 2.5;
}

#graph .mlinks {
    stroke: #eee;
    stroke-width: 1.5;
}

#graph line .show{
    stroke: rgb(90, 75, 228);

    stroke-width: 2.5;

}

#graph .nodes circle {
    stroke: #fff;
    r: 3;
}

#graph .nodes circle.show {
    r: 12;
}

#graph .nodes {
    font-size: 5px;
}

#graph .nodes .hide {
    display: none;
}

#graph .nodes .dezoom {
    font-size: 11px;
}

#graph .nodes .dezoom2x {
    font-size: 17px;
}

#radial .node circle {
    fill: #999;
}

#radial .node text {
    font: 10px sans-serif;
}

#radial .node--internal circle {
    fill: #555;
}

#radial .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

#radial .link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}