body {
	background-color: #686868;
	font-family: "Trebuchet MS", lucida grande, san serif;
	font-style: normal;
	color: #ddd;
    margin: 0; 
    padding: 0;
  text-align:center;
    border-top: 3px solid #18416A;
}

#masthead {
  border-top: 3px solid #2e333d;
  padding-top: .5em;
}

#logo {
  border-bottom: 1px solid #000000;
  margin-bottom: 0;
  text-align: center;
  width: 30em;  
  margin: 0px auto;
}

#logo  img {
  border: none;
}

#opening {
	margin-top: 5px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.node {
	color: #eee;    
	font-size: 12px;
	font-weight: normal;
	font-family: "Trebuchet MS", lucida grande, san serif;
	text-decoration: none;   
}

a {
	text-decoration: none;
	color: inherit;
}

.trunk {
	color: #000;
	font-size: 11px;
}

.trunk:hover {
	color: #eee;
}

.leaf :hover{
	color: #2e333d;
}

.scroll {
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
}

select {
    border-radius: 3px 3px 3px 3px;
    font: 9pt Trebuchet MS;
    height: 20px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

form {    
	position: relative;
    top: -1px;
}

input[type="image"] {
	font: bold 11pt Trebuchet MS;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	vertical-align: middle;
	opacity: 0.6;
	border: 1px solid gray;
	background-color: #404040;
	min-height: 21px;
	position: relative;
}

input[type="image"]:active {
	opacity: 1;
}